<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<br>
<h2>Add user</h2>
<br>


<form th:method="post" th:action="@{/admin/saveUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>

    <label for="username">Login</label>
    <input type="text" th:field="*{username}" id="username"/>
    <p th:errors="*{username}"></p>
    <br><br>

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <p th:errors="*{password}"></p>
    <br><br>

    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email"/>
    <p th:errors="*{email}"></p>
    <br><br>
    <br><br>

    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"/>
    </label>
    <br><br>
    <input type="submit" value="OK">
    <br><br>

</form>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>